<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="{{ asset('favicon.svg') }}" type="image/svg+xml">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>

{% include 'navbar/navbar.html.twig' %}

<div class="content-container">
    {% block body %}{% endblock %}
</div>
</body>
</html>